@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
:root{
    --color-theme:#20D3C2;
    --color-theme-light:#EDFCFA;
    --color-theme-dark:#0E153D;
    --color-dark:#080C24;
    --color-white:#FFFFFF;
    --color-theme-gray-0:#AAAAAA;
    --color-theme-gray-1:#CCCCCC;
    --color-theme-gray-2:#E3E3E3;
    --color-theme-gray-3:#EEEEEE;
    --color-theme-gray-4:#F6F6F6;
    --color-product-instock:#82D8C6;
    --color-product-outofstock:#FE6C6C;

    --font-play:'Play', sans-serif;
    --font-roboto:'Roboto', sans-serif;
    --font-weight-regular:400;
    --font-weight-medium:500;
    --font-weight-bold:700;
    --font-size-14:1.17rem;
    --font-size-16:1.33rem;
    --font-size-18:1.50rem;
    --font-size-24:2rem;
    --font-size-36:3rem;
    --font-size-60:5rem;

    --border-radius-small:8px;
    --border-radius-medium:25px;
    --border-radius-rounded:50%;
}

/* general*/
html, body{
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color:var(--color-theme-dark);
}
.btn-theme{
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.text-theme{
    color: var(--color-theme);
}
    .btn-theme:hover{
        background-color: var(--color-theme-dark);
        color: var(--color-white);
    }
.btn-white{
    background-color: var(--color-white);
    color: var(--color-theme);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
    .btn-white:hover{
        background-color: var(--color-theme-dark);
        color: var(--color-white);
    }
.bg-theme{
    background-color: var(--color-theme);
}
.instock {
    color:var(--color-product-instock);
}
.outofstock {
    color:var(--color-product-outofstock);
}
.section-title{
    padding: 3rem 0;
    color:var(--color-theme-dark);
    text-align: center;
}
    .section-title h1 {
        font-family: var(--font-play);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-36);
    }
        .section-title h1 span{
            color: var(--color-theme);
        }
    .section-title p{
        margin: 1rem 0;
    }

/* top-menu*/
.top-menu{
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;
}
    .top-menu > .container {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        /*padding: 0;*/
    }
        .top-menu .site-settings {
            display: flex;
        }
            .top-menu .site-settings .dropdown-theme{
                background-color: var(--color-theme);
                color: var(--color-white);
            }
                .top-menu .site-settings .dropdown-theme button{
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border:none;
                    padding: 0;
                }
                    .top-menu .site-settings .dropdown-theme button:hover{
                        color: var(--color-theme-dark);
                    }
                .top-menu .site-settings .dropdown-theme .dropdown-menu{
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    border:250px;
                    margin-top: 3rem;
                }
                    .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item{
                        background-color: var(--color-theme);
                        color: var(--color-white);
                        border:none;
                        width: 100%;
                        margin: 0;
                    }
                        .top-menu .site-settings .dropdown-theme .dropdown-menu .dropdown-item:hover{
                            background-color: var(--color-theme-dark);
                            color: var(--color-white);
                        }
        .top-menu .menu-links{
            display: none;
        }
            .top-menu .menu-links .links{
                display: none;
            }
            
            .top-menu .menu-links a{
                color:var(--color-white);
                text-decoration: none;
                margin: 0 1.2rem;
            }
                .top-menu .menu-links a:hover {
                    color: var(--color-theme-dark);
                }
            
                .top-menu .menu-links .social-media {
                    margin-left: 1rem;
                    font-size: var(--font-size-14);
                    }
                    .top-menu .menu-links .social-media a{
                        margin: 0 0.3rem;
                    }
                        .top-menu .menu-links .social-media a:last-child{
                            margin: 0 0 0 0.3rem;
                        }     

/*main-menu*/
.main-menu {
    background-color: var(--color-white);
    color: var(--color-theme-dark);
}
    .main-menu >.container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }
        .main-menu .brand{
            flex:2;
        }
        .main-menu .search{
            flex:4;
        }
        .main-menu .menu-links{
            flex:3;
            display: flex;
            justify-content: end;
            align-items: center;
            }
            .main-menu .menu-links .menu-link{
                text-decoration: none;
                color: var(--color-theme-dark);
                margin: 0 0.8rem;
            }
                .main-menu .menu-links .menu-link:hover{
                    color: var(--color-theme);
                }
                .main-menu .menu-links .menu-link:first-child{
                    margin: 0 2.4rem 0 0;
                }
                .main-menu .menu-links .menu-link:last-child{
                    margin: 0 0 0 0.8rem;
                }
                
            .main-menu .menu-links .menu-link i{
                font-size:var(--font-size-16);
            }

            .main-menu .menu-links #cart{
                position: relative;
            }
            .main-menu .menu-links #cart .badge{
                background-color: var(--color-theme);
                position: absolute;
                top:-1.2rem;
                left:0.7rem;
            }
                .main-menu .menu-links #cart:hover .badge{
                    background-color: var(--color-theme-dark);
                }
.main-menu nav{
    border-top: 1px solid var(--color-theme-gray-2);
    border-bottom: 1px solid var(--color-theme-gray-2);
}
    .main-menu > nav > .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-menu nav .browse-categories{
        flex:2;
    }
        .main-menu nav .browse-categories button{
            background-color: var(--color-theme);
            color: var(--color-white);
            border: none;
            font-size: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.7rem 1rem;
            transition: 0.15s ease-in-out;
        }
            .main-menu nav .browse-categories button:hover{
                background-color: var(--color-theme-dark);
                color: var(--color-white);
            }
            .main-menu nav .browse-categories button span{
                display: flex;
                align-items: center;
            }
            .main-menu nav .browse-categories button > span > i{
                font-size: 1.4em;
            }

    .main-menu nav .special-offer{
        flex:7;
        display: flex;
        justify-content: end;
        align-items: center;
    }

/* showcase*/
.showcase{
    background-color: var(--color-theme-gray-3);
}
    .showcase .container{
        text-align: center;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
    }
    .showcase .showcase-body h1{
        font-family: var(--font-play);
        font-size: 3.5rem;
    }
        .showcase .showcase-body h1 strong{
            font-weight: var(--font-weight-bold);
            color: var(--color-theme);
        }
    .showcase .showcase-body p{
        margin: 2rem 0;
    }
    .showcase .showcase-body a{
        display: inline-block;
    }
    .showcase img{
        display: none;
    }
/* showcase_1*/
.showcase_1{
    background-color: var(--color-theme-gray-1);
}
    .showcase_1 .container{
        flex:2;
        display: flex;
        justify-content: space-between;
        text-align: center;
        border: 1px solid black;
        padding-top: 2.4rem;
        padding-bottom: 3rem;
    }
    .showcase_1 .showcase_body_1 h1{
        font-family: var(--font-play);
        font-size: 3.5rem;
    }
        .showcase_1 .showcase_body_1 h1 strong{
            font-weight: var(--font-weight-bold);
            color: var(--color-white);
        }
    .showcase_1 .showcase_body_1 p{
        margin: 2rem 0;
    }
    .showcase_1 .showcase_body_1 a{
        display: inline-block;
    }

/*webshop-info*/
.webshop-info{
    padding: 4rem 0;
}
    .webshop-info .container{
        max-width: 1600px;
        display: flex;
        justify-content: space-evenly;
    }
    .webshop-info .info-box{
        background-color: var(--color-theme-light);
        padding: 1rem;
        display: flex;
        align-items: center;
        margin: 0 2rem;
        flex:1;
        border-radius: var(--border-radius-small);
        transition: all 0.2s ease-in-out;
    }
        .webshop-info .info-box:hover{
            background-color: var(--color-theme);
            color: var(--color-white);
        }
        .webshop-info .info-box img{
            margin-right: 1.5rem;
            filter: brightness(100%);
            transition: all 0.2s ease-in-out;
        }
            .webshop-info:hover .info-box img{
                filter: brightness(1000%);
            }
        .webshop-info .info-box h1{
            color: var(--color-theme);
            font-size: 1rem;
            font-weight: var(--font-weight-medium);
            transition: all 0.2s ease-in-out;
        }
            .webshop-info .info-box:hover h1{
                color: var(--color-white);
            }

/*.shop-by-category{
    */
    .shop-by-category .grid{
        display: grid;
        gap:0.8rem;
        grid-template-columns: repeat(5, minmax(100px, 249px));
        grid-template-rows: repeat(3, minmax(100px,249px));
    }
    .shop-by-category .category-box{
        position: relative;
        background-color: var(--color-theme-gray-1);
        border-radius: var(--border-radius-small);
        /*padding:1rem;*/
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
        .shop-by-category .category-box .category-box-title{
            position: absolute;
            left:0;
            bottom:0;
            width: 50%;
            border-radius: 0 var(--border-radius-small) 0 0;
            background-color: var(--color-theme-dark);
            color: var(--color-theme);
            padding: 0.5rem 1rem;
            font-weight: var(--font-weight-medium);
            height: 36px;
            transition: 0.2s ease-in-out;
        }
            .shop-by-category .category-box:hover .category-box-title{
                height: 75px;
            }
                .shop-by-category .category-box .category-box-title span{
                    display: block;
                    color: var(--color-white);
                    font-size: 0.8rem;
                    margin-top: 0.5rem;
                }
    #category-box-1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    #category-box-2{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    #category-box-3{
        grid-column: 4 / -1;
        grid-row: 1 / 3;
    }
    #category-box-4{
        grid-column: 1/ 3;
        grid-row: 2 / -1;
    }
    #category-box-5{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    #category-box-6{
        grid-column: 3 / 5;
        grid-row: 3 / -1;
    }
    #category-box-7{
        grid-column: 5 / -1;
        grid-row: 3 / -1;
    }

.new-arrivals {
    padding-top: 2rem;
}
    .new-arrivals .card {
        position: relative;
        height: 400px;
        width: 320px;
        overflow: hidden;
    }
        .new-arrivals .card .img {
            height: 400px;
        }
        .new-arrivals .card .card-body {
            position: absolute;
            bottom: 0;
            height: 14%;
            width: 100%;
            color: var(--color-white);
            z-index: 1;
            transition:0.3s ease-in-out;
            font-size: 1rem;
        }
            .new-arrivals .card:hover .card-body {
                height: 40%;
            }
            .new-arrivals .card .card-body h1 {
                font-size: 1.125rem;
                margin-bottom: 1rem;
                transition: 0.3s ease-in-out;
                font-weight: var(--font-weight-regular);
            }
                .new-arrivals .card:hover .card-body h1 {
                    margin-bottom: 0;
                }
            .new-arrivals .card .card-body button {
                background-color: transparent;
                color: var(--color-white);
                border: 1px solid var(--color-white);
                font-size: 0.875rem;
                padding-left: 0.9rem;
                padding-right: 0.9rem;
                margin: 0.5rem 0;
            }
            .new-arrivals .card .card-body .card-old-price {
                text-decoration: line-through;
                margin: 0;
            }
            .new-arrivals .card .card-body .card-discount-price {
                color: var(--color-theme);
                font-weight: var(--font-weight-medium);
                font-size: 1.3em;
                margin: 0;
            }

        .new-arrivals .card .card-background {
            position: absolute;
            bottom:0;
            height: 15%;
            width: 100%;
            background-color: var(--color-theme-dark);
            opacity: 0.90;
            transition: height 0.3s ease-in-out;
        }
        .new-arrivals .card:hover .card-background {
            height: 100%;
        }
        .new-arrivals .card .card-menu {
            position: absolute;
            z-index: 1;
            top: 121%;
            right: 1rem;
            list-style: none;
            margin: auto;
            padding: 0.8rem;
            font-size: 1.25rem;
            border-radius: var(--border-radius-medium);
            background-color: var(--color-white);
            transition: top 0.3s ease-in-out;
        }
            .new-arrivals .card:hover .card-menu {
                top: 20px;
            }
            .new-arrivals .card .card-menu li {
                margin-top: 0.3rem;
                margin-bottom: 0.3rem;
                font-size: 1.0em;
            }
                .new-arrivals .card .card-menu li a {
                    color: var(--color-theme-gray-0);
                }
                    .new-arrivals .card .card-menu li a:hover {
                        color: var(--color-theme);
                    }







@media (min-width:578px)
{
    .top-menu >.container {
        justify-content: space-between;
    } 
}

@media (min-width:768px)
{
    .top-menu .menu-links {
        display: block;
    }   

    .showcase .showcase-body h1{
        font-size: var(--font-size-60);
    }
        .showcase .showcase-body h1 strong{
            display: block;
        }
    
    .showcase .showcase-body a{
        display: inline-block;
    }
}

@media (min-width:992px)
{
    .top-menu > .container {
        justify-content: space-between;
        /*padding: 0;*/
    }
    .top-menu .menu-links .links {
        display: inline;
    }
    .showcase .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;
    }
    .showcase img {
        display: block;
        width: 50%;
    }
}         

@media (min-width:1200px){
    .showcase .showcase-body{
        flex: 1;
    }
    .showcase img {
        flex: 1;
        width: 100%;
    }
}